
      - name: Find and Replace
        uses: jacobtomlinson/gha-find-replace@master
        env:
          MONGO_URL: ${{ secrets.MONGO_URL }}
        with:
          find: "__MONGO_URL__"
          replace: "$MONGO_URL"
          include: "settings.json"
      - shell: bash
        env:
          SUPER_SECRET: ${{ secrets.MONGO_URL }}
        run: |
          echo "$SUPER_SECRET"
      - uses: meteorengineer/setup-meteor@v1
        with:
          meteor-release: '1.8.1'
      - name: Meteor Deploy
        run: METEOR_SESSION_FILE=$HOME/secrets/token.json meteor deploy meteor-example-mhm0ud1.meteorapp.com --free --settings ./settings.json

