
      - name: Find and Replace
        uses: jacobtomlinson/gha-find-replace@master
        env:
          MONGO_URL: ${{ secrets.MONGO_URL }}
        with:
          find: "__MONGO_URL__"
          replace: "$MONGO_URL"
          include: "settings.json"
      - shell: bash
        env:
          SUPER_SECRET: ${{ secrets.MONGO_URL }}
        run: |
          echo "$SUPER_SECRET"


